<!DOCTYPE html>
<html>
  {% load static %}
  <title>Vesta Nassone</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Compiled and minified CSS -->
<!--
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
-->
  <!-- Compiled and minified JavaScript -->
<!--
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
-->


  <style>
    body, h1,h2,h3,h4,h5,h6
    {
      font-family: "Montserrat", sans-serif
    }
    .w3-row-padding img {margin-bottom: 12px}
    /* Set the width of the sidebar to 120px */
    .w3-sidebar {width: 120px;background: #222;}
    /* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
    # main {margin-left: 120px}
    /* Remove margins from "page content" on small screens */
    @media only screen and (max-width: 600px) {#main {margin-left: 0}}
  </style>

  <body class="w3-black">
    <!-- Icon Bar (Sidebar - hidden on small screens) -->
    <nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">
      <!-- Avatar image in top left corner -->
      <img src="{% static  'vesta.jpg' %}" alt="benzo" class='profile-img' style="width:100%">
      <!--Side Icons-->
      <a href="#" class="w3-bar-item w3-button w3-padding-large w3-black">
        <i class="fa fa-home w3-text-teal w3-xxlarge"></i>
        <p>HOME</p>
      </a>
      <a href="#portfolio" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
        <i class="fa fa-th w3-text-teal w3-xxlarge"></i>
        <p>PORTFOLIO</p>
      </a>
      <a href="#about" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
        <i class="fa fa-user w3-text-teal w3-xxlarge"></i>
        <p>ABOUT</p>
      </a>
      <a href="#photos" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
        <i class="fa fa-eye w3-text-teal w3-xxlarge"></i>
        <p>PHOTOS</p>
      </a>
      <a href="#contact" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
        <i class="fa fa-phone fa-fw  w3-large w3-text-teal w3-xxlarge"></i>
        <p>CONTACT</p>
      </a>
      </a>
        <a href="#resume" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
        <i class="fa fa-envelope w3-text-teal w3-xxlarge"></i>
        <p>RESUME</p>
      </a>
      <a href="#experience" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
        <p><i class="fa fa-briefcase fa-fw w3-large w3-text-teal w3-xxlarge"></i></p>
        <p>EXPERIENCE</p>
      </a>
      <a href="#hobbies" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
        <p><i class="fa fa-certificate fa-fw w3-large w3-text-teal w3-xxlarge"></i></p>
        <p>MISC</p>
      </a>

    </nav>

    <!-- Navbar on small screens (Hidden on medium and large screens) -->
    <div class="w3-top w3-hide-large w3-hide-medium" id="myNavbar">
      <div class="w3-bar w3-black w3-opacity w3-hover-opacity-off w3-center w3-small">
        <a href="#" class="w3-bar-item w3-button" style="width:25% !important">HOME</a>
        <a href="#about" class="w3-bar-item w3-button" style="width:25% !important">ABOUT</a>
        <a href="#photos" class="w3-bar-item w3-button" style="width:25% !important">PHOTOS</a>
        <a href="#contact" class="w3-bar-item w3-button" style="width:25% !important">CONTACT</a>
      </div>
    </div>

    <!-- Page Content -->
    <div class="w3-padding-large" id="main">
      <!-- Header/Home -->
      <header class="w3-container w3-padding-32 w3-center w3-black" id="home">
        <h1 class="w3-jumbo"><span class="w3-hide-small"></span><b>Tortoise CoderZ</b></h1>
        <h2 span class="w3-hide-small"></span> >  Slowly but Surely!!! < </h2>
        <hr style="width:1500px" class="w3-opacity">
        <img src="{% static 'tortoise_logo.png' %}" alt="benzo" class="w3-image" width="992" height="1108">
         <hr style="width:1500px" class="w3-opacity">
      </header>

      <!-- About Section -->
      <div class="w3-content w3-justify w3-text-grey w3-padding-24" id="aboutNews">
        <h2 class="w3-text-white" align="center"> Benzo - Software Development Engineer </h2>
        <hr style="width:1000px" class="w3-opacity">
        <p class="w3-text-white">I'm a software engineer based in Cape Town, South Africa.
           My interests are in using web and mobile application development and Cyber-security to make the internet as secure as possible.
            I'm always learning something new and expanding my repertoire. I am currently doing my Final year @UCT studying towards a
            BSc Computer Science/Engineering. I have worked on multiple projects listed below, feel free to check them out and leave a comment😊, I am open for collaboration.
            My immediate plans after graduating is to obviously start working as a software Engineer or Ethical hacker but in a period of 5 years i wish to start working on my own ideas,
            hence start my own company given that i have accumulated enough expertise.
        </p>
        <hr style="width:1000px" class="w3-opacity">
        <div class="w3-container w3-dark-grey w3-center w3-text-light-grey w3-padding-32" id="about">
        <h3 class="w3-center">VALUES</h3>
        <div class="w3-row-padding w3-center" style="margin-top:64px">
          <div class="w3-quarter">
            <i class="fa fa-desktop w3-margin-bottom w3-text-theme" style="font-size:120px"></i>
            <p class="w3-large">Responsive</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
          </div>
        <div class="w3-quarter">
          <i class="fa fa-heart w3-margin-bottom w3-text-theme" style="font-size:120px"></i>
          <p class="w3-large">Passion</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
        </div>
        <div class="w3-quarter">
          <i class="fa fa-diamond w3-margin-bottom w3-text-theme" style="font-size:120px"></i>
          <p class="w3-large">Design</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
        </div>
        <div class="w3-quarter">
          <i class="fa fa-cog w3-margin-bottom w3-text-theme" style="font-size:120px"></i>
          <p class="w3-large">Support</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
        </div>
        </div>
        </div>
        <h3 class="w3-padding-16 w3-text-light-grey">My Skills</h3>
        <h4 class="w3-padding-16 w3-text-light-grey">Programming Languages</h4>
        <p class="w3-wide">Java</p>
        <div class="w3-white">
          <div class="w3-grey" style="height:28px;width:90%"></div>
        </div>
        <p class="w3-wide">Python</p>
        <div class="w3-white">
          <div class="w3-blue" style="height:28px;width:85%"></div>
        </div>
        <p class="w3-wide">Android App development</p>
        <div class="w3-white">
          <div class="w3-yellow" style="height:28px;width:70%"></div>
        </div>
        <h4 class="w3-padding-16 w3-text-light-grey">Databases</h4>
         <p class="w3-wide">SQL Database</p>
        <div class="w3-white">
          <div class="w3-red" style="height:28px;width:85%"></div>
        </div>
         <p class="w3-wide">Postgres Database</p>
        <div class="w3-white">
          <div class="w3-purple" style="height:28px;width:80%"></div>
        </div>
        <h4 class="w3-padding-16 w3-text-light-grey"> Frameworks</h4>
        <p class="w3-wide"> Django</p>
        <div class="w3-white">
          <div class="w3-green" style="height:28px;width:65%"></div>
        </div>
         <p class="w3-wide"> Flutter</p>
        <div class="w3-white">
          <div class="w3-dark-grey" style="height:28px;width:60%"></div>
        </div>
         <p class="w3-wide"> React</p>
        <div class="w3-white">
          <div class="w3-dark-grey" style="height:28px;width:80%"></div>
        </div>
        <h4 class="w3-padding-16 w3-text-light-grey">Version Control</h4>
        <p class="w3-wide">Git</p>
        <div class="w3-white">
          <div class="w3-dark-grey" style="height:28px;width:75%"></div>
        </div><br>

        <div class="w3-row w3-center w3-padding-16 w3-section w3-light-grey">
          <div class="w3-quarter w3-section">
            <span class="w3-xlarge">2+</span><br>
            Partners
          </div>
          <div class="w3-quarter w3-section">
            <span class="w3-xlarge">10+</span><br>
            Projects Done
          </div>
          <div class="w3-quarter w3-section">
            <span class="w3-xlarge">89+</span><br>
            Happy Clients
          </div>
          <div class="w3-quarter w3-section">
            <span class="w3-xlarge">150+</span><br>
            Meetings
          </div>
        </div>

        <button class="w3-button w3-light-grey w3-padding-large w3-section">
          <a href="resume/"> <i class="fa fa-download"></i> View Resume</a>
        </button>

        <button class="w3-button w3-light-grey w3-padding-large w3-section">

          <a href="{% static 'media/resume.pdf' %}"> <i class="fa fa-download"></i> Download Resume</a>
        </button>

        <!-- The App Section -->
        <div class="w3-padding-64 w3-white">
          <div class="w3-row-padding">
            <div class="w3-col l8 m6">
              <h1 class="w3-jumbo"><b>Zlito App</b></h1>
              <h1 class="w3-xxxlarge w3-text-green"><b>Why buy it?</b></h1>
              <p><span class="w3-xlarge">Take photos like a pro.</span> You should buy this app because lorem ipsum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
              <button class="w3-button w3-light-grey w3-padding-large w3-section w3-hide-small" onclick="document.getElementById('download').style.display='block'">
                <i class="fa fa-download"></i> Download Application
              </button>
              <p>Available for <i class="fa fa-android w3-xlarge w3-text-green"></i> <i class="fa fa-apple w3-xlarge"></i> <i class="fa fa-windows w3-xlarge w3-text-blue"></i></p>
            </div>
            <div class="w3-col l4 m6">
              <img src="{% static 'img_app.jpg' %}" class="w3-image w3-right w3-hide-small" width="335" height="471">
              <div class="w3-center w3-hide-large w3-hide-medium">
                <button class="w3-button w3-block w3-padding-large" onclick="document.getElementById('download').style.display='block'">
                  <i class="fa fa-download"></i> Download Application
                </button>
                <img src="/w3images/img_app.jpg" class="w3-image w3-margin-top" width="335" height="471">
              </div>
            </div>
          </div>
        </div>
        <!-- Grid for pricing tables -->
        <div class="w3-container w3-padding-64 w3-dark-grey w3-center">
          <h1 class="w3-jumbo"><b>Features</b></h1>
          <p>These apps are built using the latest technologies and best practices.</p>

          <div class="w3-row" style="margin-top:64px">
            <div class="w3-col s3">
              <i class="fa fa-bolt w3-text-orange w3-jumbo"></i>
              <p>Fast</p>
            </div>
            <div class="w3-col s3">
              <i class="fa fa-heart w3-text-red w3-jumbo"></i>
              <p>Loved</p>
            </div>
            <div class="w3-col s3">
              <i class="fa fa-camera w3-text-yellow w3-jumbo"></i>
              <p>Clarity</p>
            </div>
            <div class="w3-col s3">
              <i class="fa fa-battery-full w3-text-green w3-jumbo"></i>
              <p>Power</p>
            </div>
          </div>

          <div class="w3-row" style="margin-top:64px">
            <div class="w3-col s3">
              <i class="fa fa-diamond w3-text-white w3-jumbo"></i>
              <p>Sharp</p>
            </div>
            <div class="w3-col s3">
              <i class="fa fa-cloud w3-text-blue w3-jumbo"></i>
              <p>Cloud</p>
            </div>
            <div class="w3-col s3">
              <i class="fa fa-globe w3-text-amber w3-jumbo"></i>
              <p>Global</p>
            </div>
            <div class="w3-col s3">
              <i class="fa fa-hdd-o w3-text-cyan w3-jumbo"></i>
              <p>Storage</p>
            </div>
            </div>

            <div class="w3-row" style="margin-top:64px">
              <div class="w3-col s3">
                <i class="fa fa-user w3-text-sand w3-jumbo"></i>
                <p>Safe</p>
              </div>
              <div class="w3-col s3">
                <i class="fa fa-shield w3-text-orange w3-jumbo"></i>
                <p>Stabile</p>
              </div>
              <div class="w3-col s3">
                <i class="fa fa-wifi w3-text-grey w3-jumbo"></i>
                <p>Connected</p>
              </div>
              <div class="w3-col s3">
                <i class="fa fa-image w3-text-pink w3-jumbo"></i>
                <p>HD</p>
              </div>
            </div>
          </div>         <!-- End Grid/Pricing tables -->
      </div>             <!-- End About Section -->

      <!-- Portfolio Section -->
      <div class="w3-padding-24 w3-content w3-grey" id="photos">
        <h2 class="w3-text-light-grey">My Photos</h2>
        <hr style="width:200px" class="w3-opacity">

        <!-- Grid for photos -->
        <div class="w3-row-padding" style="margin:0 12px">
          <div class="w3-half">
            <img src="{% static 'code.jpg' %}" style="width:100%">
            <img src="{% static 'trust_me.png' %}" width="455" height="305">
            <img src="{% static 'logo.png' %}" width="455" height="300">
          </div>

          <div class="w3-half">
            <img src="{% static 'tech_drone.jpg' %}" style="width:100%">
            <img src="{% static 'tech_tablet.jpg' %}" style="width:100%">
            <img src="{% static 'app.jpg' %}" style="width:100%">
          </div>      <!-- End photo grid -->
        </div>        <!-- Grid Section -->
      </div>          <!-- End Portfolio Section -->

      <!-- Contact Section -->
      <div class="w3-padding-64 w3-content w3-text-grey" id="contact">
        <h2 class="w3-text-light-grey">Contact Me</h2>
        <hr style="width:200px" class="w3-opacity">

        <div class="w3-section">
          <p><i class="fa fa-map-marker fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> Capetown, South Africa</p>
          <p><i class="fa fa-phone fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> Phone: +27 681013400</p>
          <p><i class="fa fa-envelope fa-fw w3-text-white w3-xxlarge w3-margin-right"> </i> Email: vestanassone@mail.com</p>
        </div><br>
        <p>Lets get in touch. Send me a message:</p>

        <form action="/action_page.php" target="_blank">
          <p><input class="w3-input w3-padding-16" type="text" placeholder="Name" required name="Name"></p>
          <p><input class="w3-input w3-padding-16" type="text" placeholder="Email" required name="Email"></p>
          <p><input class="w3-input w3-padding-16" type="text" placeholder="Subject" required name="Subject"></p>
          <p><input class="w3-input w3-padding-16" type="text" placeholder="Message" required name="Message"></p>
          <p>
            <button class="w3-button w3-black" type="submit">
              <i class="fa fa-paper-plane"></i> SEND MESSAGE
             </button>
          </p>
        </form>
        <!-- Image of location/map -->
        <img src="{% static 'uct.jpg' %}" alt="uct" class='profile-img' style="width:100%">
      </div>          <!-- End Contact Section -->

      <!-- Footer -->
      <footer class="w3-center w3-white w3-padding-64 w3-opacity w3-hover-opacity-off">
        <a href="#home" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
        <div class="w3-xlarge w3-section">
          <i class="fa fa-facebook-official w3-hover-opacity"></i>
          <i class="fa fa-instagram w3-hover-opacity"></i>
          <i class="fa fa-snapchat w3-hover-opacity"></i>
          <i class="fa fa-pinterest-p w3-hover-opacity"></i>
          <i class="fa fa-twitter w3-hover-opacity"></i>
          <i class="fa fa-linkedin w3-hover-opacity"></i>
        </div>
        <p align="center">Made with Django, HTML, CSS & JS. <i class="fa fa-copyright"></i> Copyright Vesta Nassone 2020, Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank" class="w3-hover-text-green">w3.css</a></p>
        <p align="center">Copyright &copy; Bootstrap</p>
      </footer>       <!-- End footer -->

       <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </div>
  </body>              <!-- END PAGE CONTENT -->
</html>
